extends base.pug

block content
    video(src="/" + video.fileUrl, width="560", height="315", controls)
    div
        h3=video.title
        p=video.description
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;